html {
  background-color: rgb(37, 41, 43);
}

td {
  font-size: 120%;

}

th {
  color: rgb(146, 147, 148);
}

.thT {
  color: white;
  font-size: 120%;
}

table a {
  color: #56b6c2;
}

table a:visited {
  color: rgb(198, 120, 221);
}

.evenRow {
  background-color: rgb(81, 86, 88);
  font-weight: bold;
  color: white;
}

.oddRow {
  background-color: rgb(51, 57, 59);
  font-weight: bold;
  color: white
}

.statusTrue {
  background: url("https://api.iconify.design/openmoji:check-mark.svg?color=%23888888") no-repeat center;
  background-size: auto 35px;
}

.statusFalse {
  background: url("https://api.iconify.design/openmoji:hollow-red-circle.svg?color=%23888888") no-repeat center;
  background-size: auto 35px;
}

footer {
  background-color: rgb(62, 75, 80);
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 120%;
  margin-top: 1%;
  padding: 1%;
}