---
const props = Astro.props;
---

<label class="limit-label" {...props}>
	Show per page
	<select class="select limit-select" id="limit">
		<option class="input" value="20" selected>20</option>
		<option class="input" value="35">35</option>
		<option class="input" value="50">50</option>
	</select>
</label>

<script>
	const select: HTMLSelectElement | null = document.querySelector("#limit");
	if (select == null) {
		throw new Error("limit select element is missing");
	}

	const params = new URLSearchParams(window.location.search);

	const limit = params.get("limit");
	if (limit != null) {
		select.value = limit;
	}

	select.addEventListener("change", () => {
		const params = new URLSearchParams(window.location.search);
		params.set("limit", select.value);

		window.location.href = `/?${params.toString()}`;
	});
</script>

<style>
	.limit-label {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
</style>
