---
import LimitSelector from "../paginator/LimitSelector.astro";
---

<div class="paginator">
    <label>
        Search in Descriptions
        <input type="checkbox" />
    </label>

    <button class="btn" onclick="prev()">Prev</button>
    <button class="btn" onclick="next()">Next</button>

    <LimitSelector />
</div>

<style>
    .paginator {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        background-color: var(--bg-primary);
        padding: 0.3rem;
        border-radius: var(--border-radius);
    }

    .paginator > * {
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }

    .paginator > label {
        margin: auto;
    }

    .paginator > button {
        max-width: 10rem;
        display: inline-flex;
        align-items: center;
    }
</style>
