:root[data-theme="dark"] {
	/* colors */
	--primary: #7480ff;
	--secondary: #137bc0;
	--bg-primary: #23262f;
	--bg-secondary: #17181c;
	--text-primary: #ffffff;
	--text-secondary: #d3d3d3;
}

:root[data-theme="light"] {
	/* colors */
	--primary: #7480ff;
	--secondary: #137bc0;
	--bg-primary: #d6d6d6;
	--bg-secondary: #7e7e7e;
	--text-primary: #000000;
	--text-secondary: #141414;
}

:root {
	/* center content on large displays */
	max-width: 1366px;
	margin: 0 auto;

	/* default styles */
	background-color: var(--bg-secondary);
	color: var(--text-secondary);

	/* center content on large displays */
	max-width: 1366px;
	margin: 0 auto;

	/* constants */
	--border-radius: 0.3rem;
	--hover-opacity: 80%;
}

.btn,
.select {
	border: 0;
	border-radius: var(--border-radius);
	background-color: var(--primary);
	font-size: 1em;
	font-weight: 500;
	cursor: pointer;
	height: 2rem;
	min-height: 2rem;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	opacity: 80%;
}