<div id="loading" class="loading-container">
    <h2>
        <span>Loading...</span>
    </h2>
</div>

<style>
    .loading-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
</style>
