---
import MenuIcon from "./icons/MenuIcon.astro";
import SearchBar from "./SearchBar.astro";
import NewIcon from "./icons/NewIcon.astro";
---

<header>
    <div>
        <MenuIcon class="clickable icon" />
    </div>

    <div class="space-between">
        <SearchBar class="clickable" />
        <NewIcon class="clickable icon" />
    </div>
</header>

<style>
    header {
        width: 100%;
        height: 2.1rem;
        background-color: var(--bg-primary);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        box-sizing: border-box;
    }

    header > * {
        display: flex;
        align-content: center;
    }

    .space-between {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .icon {
        font-size: 1.5em;
    }
</style>
