<div class="paginator">
    <button onclick="prev()">Prev</button>
    <button onclick="next()">Next</button>

    <select id="limit">
        <option class="input" value="20" selected>20</option>
        <option class="input" value="35">35</option>
        <option class="input" value="50">50</option>
    </select>
</div>

<style>
    .paginator {
        height: 2rem;
        display: flex;
        justify-content: center;
        gap: 3rem;
        padding-top: 0.8rem;
    }
</style>
